<% include ../templates/head.ejs %>
<div class="container mt-3">

  <section>

    <h1><%= article.titre %></h1>
    
    <% if(article.image) { %>
      <img class="img-full" src="/uploads/<%= article.image %>" alt="">
    <% } else { %> 
      <img class="img-full" src="/uploads/no-image.png" alt="">
    <% } %>

    <p><%= article.description %></p>

  </section>

  <a href="/article/<%= article.id %>/edit" class="btn btn-warning"><span><i class="far fa-edit"></i></span> <span class="d-none d-md-inline-block">Editer</span></a>

</div>
<% include ../templates/footer.ejs %>